<%- include("partials/header2") -%>

<div class="container-sm card shadow" >
  <div class="row" style="background-color: deepskyblue;">
    
      <div class="col mb-10">
        
        <form  action="" method="post" class="item1">
          <div class="box">
            <% for(var i=0;i<newListItems.length;i++){ %>
          <div class="item">
          <input class="form-check-input" type="checkbox" style="margin-bottom: 5px;">
          <span><label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;" >
            <%= newListItems[i] %>
          </label></span>
        </div>
        <% } %>
        
          <input type="text" name="newItem" placeholder="New Item" >
          <button class="btn btn-success add1" type="submit" name="add1" >Add</button>
      </div>
        </form> 
        
      </div>
    
  </div>
</div>


<%- include("partials/footer2") -%>

