<%- include("partials/header2") -%>

<!-- <div class="container-sm card shadow" >
  <div class="row" style="background-color: deepskyblue;">
    
      <div class="col mb-10">
        <a href="/home3/<%=user.username%>" class="btn btn-primary" style="text-align: center;">Click to add items</a>
        
      </div>
    
  </div>
</div> -->


<%- include("partials/footer2") -%>

