<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Creat account</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="main card shadow">
      <h3>Grow Big</h3>
       <p>Create your account</p>
<form class="" action="/signup" method="post">

          <div class="form-floating mb-3 usename">
      <input type="text" class="form-control" id="floatingInput" placeholder="Full name" name="fullname" required>
      <label for="floatingInput"><i class="fa fa-user"></i>Full name</label>
    </div>
    <div class="form-floating mb-3 usename">
    <input type="text" class="form-control" id="floatingInput" placeholder="Phone number" name="phone" required>
    <label for="floatingInput"><i class="fa fa-phone"></i>Phone number</label>
    </div>
    <div class="form-floating mb-3 usename">
    <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email" required>
    <label for="floatingInput" style="margin-bottom: 5px; "><i class="fa fa-envelope-o"></i>Email</label>
    </div>
    <div class="form-floating password">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
      <label for="floatingPassword"><i class="fa fa-lock"></i>Create password</label>
    </div>

    <div class="signin">
    <input class="btn btn-primary" type="submit" value="Create">
    </div>

      <div class="signup">
        Have an account?
        <a href="/signin">Sign in</a>
      </div>

    </form>

    </div>
      

   </body>
</html>
